# Don't track content of these folders
node_modules/
someOtherfoler/


# Compiled source #
###################

*.DS_Store
*.pyc
*.idea
*.xml

Code/.DS_Store
Data/.DS_Store
Data/OnlyProstateResults/.DS_Store